<div class="navbarWrapper">
  <div class="navbar">
    <div *ngIf="location" class="mainLocation">
      @if (isDarkMode){
      <img
        class="imageLocations"
        src="assets/icons/locationWhite.svg"
        alt="location"
      />
      } @else {
      <img
        class="imageLocations"
        src="assets/icons/location.svg"
        alt="location"
      />
      }

      <div class="textLocations">{{ location }} {{ temperature }}°C</div>
    </div>

    <form class="searchInput" (submit)="onSearch()">
      <input
        type="text"
        id="search"
        name="search"
        [(ngModel)]="enteredSearch"
        placeholder="Search location"
      />
      <button
        type="submit"
        style="
          width: 24px;
          height: 24px;
          border: none;
          background-color: transparent;
          cursor: pointer;
        "
      >
        <img class="imageSearch" src="assets/icons/search.svg" alt="search" />
      </button>
    </form>

    <div class="spanDays">
      <div class="textDays">Daily</div>
      <div class="textDays">Weekly</div>
      <div class="textDays">Monthly</div>
    </div>

    <app-theme-toggle />
  </div>
</div>
